<%= render 'admin/link' %>

<h2 class="col-4 py-5 px-5">ジャンル一覧・追加</h2>

<%= form_with model: @genre, url: admin_genres_path do |f| %>

    <div class="col-6 mx-5">
      <table class="table table-borderless">
        <tr>
          <th><%= f.label :name, "ジャンル名" %></th>
          <td><%= f.text_field :name, :placeholder => "ジャンル名", :size => "40" %></td>
          <td>
            <div class="btn-group btn-group-md">
              <%= f.submit '新規登録', class: "btn btn-success px-4" %>
            </div>
          </td>
        </tr>
      </table>
    </div>
<% end %>

    <div class="col-4 py-5 mx-5">
      <table class="table table-borderless">
        <thead class="table-light">
          <tr>
            <th class="py-3 px-5" colspan="2">ジャンル</th>
          </tr>
        </thead>

<% @genres.each do |genre| %>
        <tbody class="table table-hover">
          <tr>
            <td class="px-4"><%= genre.name %></td>
            <td class="text-center">
              <%= link_to edit_admin_genre_path(genre.id) do %>
                <button class="btn btn-success px-3">編集する</button>
              <% end %>
            </td>
          </tr>
        </tbody>
<% end %>
      </table>
    </div>


