<%= render 'public/public_link' %>


<h2 class="col-4 py-5 px-5">新規登録</h2>

<%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<div class="container col-8 mx-auto">
  <table class="table table-borderless">
    <tr>
      <td>
        <div class="row justify-content-between">
          <div class="col">名前</div>
          <div class="col text-end">（姓）　</div>
        </div>
      </td>
      <td>
        <div class="row justify-content-around">
          <div class="col"><%= f.text_field :last_name %></div>
          <div class="col">（名）　<%= f.text_field :first_name %></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row justify-content-between">
          <div class="col">フリガナ</div>
          <div class="col text-end">（セイ）</div>
        </div>
      </td>
      <td>
        <div class="row justify-content-around">
          <div class="col"><%= f.text_field :last_name_kana %></div>
          <div class="col">（メイ）<%= f.text_field :first_name_kana %></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= f.text_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <td>郵便番号(ハイフンなし)</td>
      <td><%= f.text_field :postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address, :size => "71" %></td>
    </tr>
    <tr>
      <td>電話番号(ハイフンなし)</td>
      <td><%= f.text_field :telephone_number %></td>
    </tr>
    <tr>
      <td>パスワード(6文字以上)</td>
      <td>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>
    <tr>
      <td>パスワード(確認用)</td>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div class="btn-group btn-group-lg">
          <%= f.submit "新規登録", class: "btn btn-success px-5" %>
        </div>
      </td>
    </tr>
  </table>



<h2 class="col-4 pt-5">既に登録済みの方</h2>
  <%= link_to "こちら", new_customer_session_path %>からログインしてください。

<% end %>