<h2>ログイン</h2>

<%= form_with model: @user, url: customer_session_path do |f| %>

  <table>
    <tr>
      <td>メールアドレス</td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <td>パスワード</td>
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "ログイン" %></td>
    </tr>
  </table>

  <h2>会員登録がお済みでない方</h2>
    <%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。

<% end %>
